
/* Sección del portafolio */
.portfolio {
    text-align: center;
    margin: 40px 0;
}

.portfolio h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 40px;
}

/* Contenedor de los proyectos en columnas */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

/* Estilo de cada proyecto */
.project {
    background-color: #fff;
    width: calc(50% - 10px); /* Dos columnas de 50%, con 10px de margen entre ellas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.project:hover {
    transform: scale(1.05); /* Efecto hover para aumentar un poco el tamaño */
}

.project img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Estilo de la información del proyecto */
.project-info {
    padding: 20px;
    text-align: left;
}

.project-info h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.project-info p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Estilo del botón */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #388E3C;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}


/* Estilo de las secciones */
section {
    margin: 40px 0;
}

/* Página de Proyectos Ambientales */
.ambientales h1 {
    font-size: 36px;
    color: #4CAF50; /* Color verde para la esfera ambiental */
    margin-bottom: 20px;
}


.proyecto {
    background-color: #e8f5e9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.proyecto h2 {
    font-size: 24px;
    color: #388E3C;
}

.proyecto p {
    font-size: 16px;
    line-height: 1.6;
}